
@import url(http://fonts.googleapis.com/css?family=Josefin+Slab);

body{
	font-family:"josefin slab", serif;
}

a{
	text-decoration: none !important;
}

.about{
	margin: auto;
	width: 650px;
}

.rubyAnswer{
	text-align: center;
}

.navbar{
	background-color: #12617A;
	border-radius: 10px;
	box-shadow: -1.5px -1.5px 1px 1px;
  float: left;
  height: 700px;
  width: 200px;
}

.navbar-inner{
	float: left;
	text-align: center;
	width: 200px;
}

.nav{
	text-align: left;
  width: 130px;
}

.navbar .nav > li > a {
  color: white;
  display: block;
  font-weight: bold;
  text-shadow: none;
}

.navbar .brand{
	color:white;
}

.projects{
	float:left;
}

.projects a{
	font-size: 1.5em;
	font-weight: bold;
}

.project{
  float: left;
  margin: 50px;
  width: 30%;
}

.center_lists ul{
	text-align: center;
}
.center_lists ul li{
	display: inline;
}